.u-section-2 {
  position: relative;
  overflow: hidden;
}

.wave-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 0;
}
.wave-background svg {
  width: 100%;
  height: 100%;
}


.u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/20250709_1744_ModernDotFlow_remix_01jzrwhrcmef4a5yrz9pnzth1r.png");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 49px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-image-1 {
  height: 506px;
  object-position: 50.24% 50%;
  width: 524px;
  margin: -65px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -40px auto 0 649px;
  padding: 11px 46px 12px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -53px auto 60px 241px;
  padding: 10px 67px 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 549px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -89px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -53px;
    margin-right: 98px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -50px;
    margin-left: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 121px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    height: 328px;
    margin-top: -55px;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -127px;
    margin-left: auto;
    margin-bottom: 111px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1429px;
}

.u-section-2 .u-text-1 {
  margin: 0 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 525px;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-2 .u-image-1 {
  width: 76px;
  height: 76px;
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  width: 76px;
  height: 76px;
  margin: 10px auto 0;
}

.u-section-2 .u-image-3 {
  width: 76px;
  height: 76px;
  margin: 10px auto 0;
}

.u-section-2 .u-image-4 {
  width: 76px;
  height: 76px;
  margin: 10px auto 0;
}

.u-section-2 .u-image-5 {
  width: 76px;
  height: 76px;
  margin: 10px auto 0;
}

.u-section-2 .u-image-6 {
  width: 76px;
  height: 76px;
  margin: 10px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 525px;
}

.u-section-2 .u-container-layout-2 {
  padding: 19px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 9px auto 0 50px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 57px auto 0 49px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 57px auto 0 48px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 57px auto 0 49px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 57px auto 0 48px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 57px auto 0 49px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 525px;
}

.u-section-2 .u-container-layout-3 {
  padding: 28px 5px;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  margin: 0 auto 0 61px;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  margin: 57px auto 0 61px;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  margin: 57px auto 0 60px;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  margin: 57px auto 0 61px;
}

.u-section-2 .u-text-14 {
  font-weight: 400;
  margin: 57px auto 0 61px;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  margin: 57px auto 0 61px;
}

.u-section-2 .u-text-16 {
  font-weight: 400;
  margin: 15px 20px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 523px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-7 {
  width: 76px;
  height: 76px;
  margin: 5px auto 0;
}

.u-section-2 .u-image-8 {
  width: 76px;
  height: 76px;
  margin: 10px auto 0;
}

.u-section-2 .u-image-9 {
  width: 76px;
  height: 76px;
  margin: 10px auto 0;
}

.u-section-2 .u-image-10 {
  width: 76px;
  height: 76px;
  margin: 10px auto 0;
}

.u-section-2 .u-image-11 {
  width: 76px;
  height: 76px;
  margin: 10px auto 0;
}

.u-section-2 .u-image-12 {
  width: 76px;
  height: 76px;
  margin: 10px auto 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 523px;
}

.u-section-2 .u-container-layout-5 {
  padding: 19px 30px;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  margin: 9px auto 0 20px;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  margin: 57px auto 0 19px;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  margin: 57px auto 0 18px;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  margin: 57px auto 0 19px;
}

.u-section-2 .u-text-21 {
  font-weight: 700;
  margin: 57px 18px 0;
}

.u-section-2 .u-text-22 {
  font-weight: 700;
  margin: 58px auto 0 19px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 523px;
}

.u-section-2 .u-container-layout-6 {
  padding: 28px 5px;
}

.u-section-2 .u-text-23 {
  font-weight: 400;
  margin: 0 auto 0 61px;
}

.u-section-2 .u-text-24 {
  font-weight: 400;
  margin: 57px auto 0 61px;
}

.u-section-2 .u-text-25 {
  font-weight: 400;
  margin: 57px auto 0 60px;
}

.u-section-2 .u-text-26 {
  font-weight: 400;
  margin: 57px auto 0 61px;
}

.u-section-2 .u-text-27 {
  font-weight: 400;
  margin: 57px auto 0 61px;
}

.u-section-2 .u-text-28 {
  font-weight: 400;
  margin: 57px auto 0 61px;
}

.u-section-2 .u-text-29 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 19px auto 28px;
  padding: 10px 67px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 0%;
    min-height: 433px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 433px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    background-position: 50% 0%;
    min-height: 431px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 431px;
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }

  .u-section-2 .u-text-17 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-20 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-21 {
    margin-right: auto;
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 39px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 667px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 15px 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 55px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 60px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-right: 7px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 58px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 56px;
    margin-left: 20px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 672px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-10 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-11 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-12 {
    margin-top: 39px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 672px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 14px 29px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: 58px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 58px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-top: 72px;
    margin-left: 0;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-top: 57px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 687px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 14px 0;
  }

  .u-section-2 .u-text-23 {
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-24 {
    width: auto;
    margin-left: 18px;
  }

  .u-section-2 .u-text-25 {
    width: auto;
    margin-left: 18px;
  }

  .u-section-2 .u-text-26 {
    width: auto;
    margin-top: 58px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-27 {
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-28 {
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3289px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1550px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 2749px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 128px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 127px;
  }

  .u-section-2 .u-text-20 {
    margin-left: 128px;
  }

  .u-section-2 .u-text-21 {
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2286px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 21px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 21px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 21px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 21px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 21px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 525px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 13px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 42px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 42px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 42px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 42px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 42px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 590px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 21px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 21px;
  }

  .u-section-2 .u-image-10 {
    margin-top: 21px;
  }

  .u-section-2 .u-image-11 {
    margin-top: 21px;
  }

  .u-section-2 .u-image-12 {
    margin-top: 21px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 462px;
  }

  .u-section-2 .u-text-17 {
    margin-top: 11px;
    margin-right: auto;
    margin-left: 45px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-19 {
    margin-top: 48px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-20 {
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-2 .u-text-21 {
    margin-top: 48px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-text-22 {
    width: 232px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 577px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-2 .u-text-23 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-24 {
    margin-top: 44px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-25 {
    margin-top: 44px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-26 {
    margin-top: 44px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-27 {
    margin-top: 44px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-28 {
    margin-top: 44px;
    margin-left: 21px;
    margin-right: 21px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 954px;
}

.u-section-3 .u-text-1 {
  margin: 1px 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 8px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 438px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  width: 177px;
  height: 177px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 27px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 27px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  width: 177px;
  height: 177px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 27px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 27px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  width: 177px;
  height: 177px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 27px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: 27px 0 0;
}

.u-section-3 .u-list-2 {
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-3 .u-repeater-2 {
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 419px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px 20px;
}

.u-section-3 .u-image-4 {
  width: 177px;
  height: 177px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: 27px auto 0;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  width: 353px;
  margin: 27px auto -9px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-3 .u-image-5 {
  width: 177px;
  height: 177px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  margin: 27px auto 0;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  width: 353px;
  margin: 27px auto -9px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 361px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -240px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -240px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2269px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 1278px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-6 {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-8 {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-list-2 {
    margin-bottom: 2px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 893px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-4 {
    width: 530px;
  }

  .u-section-3 .u-text-6 {
    width: 530px;
  }

  .u-section-3 .u-text-8 {
    width: 530px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-4 {
    width: 330px;
  }

  .u-section-3 .u-text-6 {
    width: 330px;
  }

  .u-section-3 .u-text-8 {
    width: 330px;
  }

  .u-section-3 .u-text-10 {
    width: 320px;
  }

  .u-section-3 .u-text-12 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 252px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 11px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  width: 578px;
  margin: 27px auto 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 27px auto;
  padding: 10px 67px 12px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}
